{% assign artworks = "" %}

{% for product in collection.products%}
    {% assign artworks = forloop.length %}
{% endfor %}

<article class="card-item artist-item">
    <a href="{{collection.url}}">
    <div class="img-container">
        <div class="img-inner-container">
            {{ collection.image | img_url: '480x480' | img_tag: collection.title }}
        </div>
    </div>
    <div class="card-details artist-details">
        <h4 class="card__artist">{{ collection.title }}</h4>
        <div class="card__origin">{{ collection.metafields.artist.born }}</div>
        <div class="card__artworks">{{artworks}} artworks</div>
    </div>
</a>
</article>
