{%- assign artist_card_ungoals = collection.metafields.artist.un_goals | split: '|' -%}
{%- assign nationality = collection.metafields.artist.nationality -%}
{%- assign born = collection.metafields.artist.born -%}
{%- assign title = collection.title -%}
{%- assign image = collection.image -%}
{%- assign artworks = "" -%}

{% for product in collection.products%}
    {% assign artworks = forloop.length %}
{% endfor %}

{%- capture medium -%}
    {%- for product in collection.products -%}
        {{- product.type | handleize -}}
        {%- if forloop.last == false -%}, {% endif -%}
    {%- endfor -%}
{%- endcapture -%}

{% assign medium = medium | split: ", " %}
{% assign medium = medium | sort -%}
{% assign medium = medium | uniq %}
{% assign medium = medium | join: "," %}

{%- capture un_goal -%}
    {%- if artist_card_ungoals != "" -%}
        {%- for ungoals in artist_card_ungoals -%}
            {%- assign ungoal = collections[ungoals] -%}
            {%- assign ungoals_name = ungoal.title | split: '. ' -%}
            {{- ungoals_name[1] | handleize -}}
            {%- if forloop.last == false %},{% endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endcapture -%}

{%- if un_goal == "" -%}
    {% assign un_goal = "all-un-goals" %}
{%- endif -%}

<article class="card-item artist-item"
    {%- if filter == true -%}
        nationality="{{- nationality | handleize -}}"
        medium="{{- medium -}}"
        ungoal="{{- un_goal -}}"
        name="{{- title | handleize -}}"
        {%- endif -%}
    >
    <a href="{{collection.url}}">
    <div class="img-container">
        <div class="img-inner-container">
            {%- if card_per_row == 2 -%}

                <img
                    alt="{{ title }}"
                    data-srcset="{{- image.src | img_url: '171x' }} 171w,
                        {{- image.src | img_url: '285x285' }} 285w,
                        {{- image.src | img_url: '340x340' }} 340w"
                    sizes="(max-width: 767px) 41.6vw, (max-width: 991px) 45vw, 360px"
                    data-src="{{ image.src | img_url: '405x' }}"
                    class="lazyload" />
            {%- elsif card_per_row == 3 -%}
                <img
                    alt="{{ title }}"
                    data-srcset="{{- image.src | img_url: '171x' }} 171w,
                        {{- image.src | img_url: '285x285' }} 285w,
                        {{- image.src | img_url: '340x340' }} 340w"
                    sizes="(max-width: 767px) 171px, (max-width: 991px) 340px, 285px"
                    data-src="{{ image.src | img_url: '285x285' }}"
                    class="lazyload" />
            {%- else -%}
                <img
                    alt="{{ title }}"
                    data-srcset="{{- image.src | img_url: '171x' }} 171w,
                        {{- image.src | img_url: '285x285' }} 285w,
                        {{- image.src | img_url: '340x340' }} 340w"
                    sizes="(max-width: 767px) 171px, (max-width: 991px) 340px, 285px"
                    data-src="{{ image.src | img_url: '285x285' }}"
                    class="lazyload" />
            {%- endif -%}
        </div>
    </div>
    <div class="card-details artist-details">
        <h4 class="card__artist">{{ title }}</h4>
        <div class="card__origin">{{ born }}</div>
        <div class="card__artworks">{{artworks}} artworks</div>
    </div>
</a>
</article>
