<!-- /snippets/social-sharing.liquid -->
<div class="social-sharing">
    <h6>Share</h6>
    {% if settings.share_facebook %}
        <a class="social__share" target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
            {% include 'icon-social-facebook' %}
        </a>
    {% endif %}

    {% if settings.share_twitter %}
        <a class="social__share" target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
            {% include 'icon-social-twitter' %}
        </a>
    {% endif %}

    <a class="social__share" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ shop.url | append: share_permalink }}&title={{ share_title | url_param_escape }}&summary={{ shop.url }}/blogs/editorial/" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
        {% include 'icon-social-linkedin' %}
    </a>

    <a class="social__share" href="mailto:?subject=I wanted you to see this article&amp;body=Check out this article: {{ share_title | url_param_escape }} ({{ shop.url | append: share_permalink }})."
   title="Share by Email">
        {% include 'icon-email' %}
    </a>

{% comment %}
  {% if settings.share_pinterest %}
    <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
      {% include 'icon-pinterest' %}
      <span aria-hidden="true">{{ 'general.social.share_on_pinterest' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
    </a>
  {% endif %}
{% endcomment %}
</div>
