{%- assign price_filter = settings.price_filters | split: ',' -%}

{% for type in shop.types %}
    {% assign type_name = type | downcase | replace: " ", "+" %}
    {% if collection.url contains type_name %}
        {% assign collection_type_page = true %}
    {% endif %}
{% endfor %}

{% for price_filters in price_filter %}
    {% assign price_name = price_filters | handleize %}
        {% if collection.url contains price_name and price_name != 'all'  %}
            {% assign collection_price_page = true %}
        {% endif %}
{% endfor %}

<div id="collection_filters" class="collection-filters__wrapper">
    <div class="collection-filters filter-by__wrapper filter-by-type__wrapper">
        <h4>Categories of Art</h4>
        <div class="filter-by filter-by-type">
            {% if collection_type_page == true %}
                <a alt="" class="filter" href="/collections/all">
                    <div class="filter__all">
                        {% include "icon-all-items" %}
                        <div>See all categories</div>
                    </div>
                </a>
            {% else %}
                <div alt="" class="t-filter filter{% if collection.url contains 'all' %} active{% endif %}">
                    <div class="filter__icon"></div>
                    <div class="filter__label">
                        All
                    </div>
                </div>
                {% for type in shop.types %}
                {% assign type_string = type | replace: " ", "+" %}
                    {% if type != 'mw_hidden_cart_fee' %}
                    <div alt="{{ type }}" class="t-filter filter{% if collection.url contains type_string %} active{% endif %}">
                        <div class="filter__icon"></div>
                        <div class="filter__label">
                            {{ type }}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

    </div>
    <div class="collection-filters filter-by__wrapper filter-by-price__wrapper">
        <h4>Prices</h4>
        <div class="filter-by filter-by-price">
            {% if collection_price_page == true %}
                <a alt="" class="filter" href="/collections/all">
                    <div class="filter__all">
                        {% include "icon-all-items" %}
                        <div>See all prices</div>
                    </div>
                </a>
            {% else %}
                {% for price_filters in price_filter %}
                    <div alt="{{ price_filters }}" class="p-filter filter {% if price_filters == 'All' %} active{% endif %}">
                        <div class="filter__icon"></div>
                        <div class="filter__label">
                            {{ price_filters }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="collection-filters filter-by__wrapper filter-by-ngos__wrapper">
        <div class="filter-by filter-by-ngos">
          <h4>Charities</h4>
          <div class="filter-by filter-by-ngo filter">
              <select id="filter-by-ngo" class="" name="">
                  <option class="c-filter filter" value="">All</option>
                  {% for collection in collections %}
                  {% if collection.template_suffix == 'ngo' and collection.all_products_count > 0 %}
                  <option class="c-filter filter" value="{{ collection.title | handleize | replace: '-', ' ' }}">{{ collection.title }}</option>
                  {% endif %}
                  {% endfor %}
              </select>
          </div>

          </div>
    </div>

    <div class="collection-filters filter-by__wrapper filter-by-artist__wrapper">
        <div class="filter-by filter-by-artist">
          <h4>Artists</h4>
          <form  id="filter-by-artist" class="" action="index.html" method="post">

              <input id="search_vendor_select" class="awesomplete" placeholder="Select an artist..." data-list="{{ shop.vendors | join: ", " }}" />
              <button type="submit">{% include "icon-search" %}</button>
          </form>
      </div>
    </div>

    <script>
    jQuery(document).ready(function() {
        var t_filter = '';
        var p_filter = '';
        var c_filter = '';
        var ngo_filter = document.getElementById('filter-by-ngo');
        jQuery('.t-filter').click(function() {
            jQuery('.t-filter').removeClass('active');
            jQuery(this).addClass('active');
            t_filter = jQuery(this).attr('alt');
            upFilter();
        });
        jQuery('.p-filter').click(function() {
            jQuery('.p-filter').removeClass('active');
            jQuery(this).addClass('active');
            p_filter = jQuery(this).attr('alt');
            upFilter();
        });
        ngo_filter.onchange = function(){
            c_filter = this.value;
            upFilter();
        };
        function upFilter() {
            jQuery('.product-item').hide();
            var min=0; var max=1000000000;
            if (p_filter=='Under 500 €') {
                min = 0;
                max = 500;
            } else if (p_filter=='Over 5000 €') {
                min = 5000;
                max = 1000000000;
            } else if (p_filter=='All') {
                min = 0;
                max = 1000000000;
            } else {
                var temp = p_filter.replace(/\s/g, '').replace(/\€/g, '').split('-');
                min = parseInt(temp[0]);
                max = parseInt(temp[1]) - 10;
            }
            jQuery('.product-item').each(function(){
                var p_val = parseInt($(this).attr('price'))/100;
                var t_val = $(this).attr('type');
                var c_val = $(this).attr('ngos');
                if ( (t_filter==t_val || t_filter=='') && (c_val.includes(c_filter) == true || c_filter=='') && (p_filter=='' || (p_val<=max && p_val>=min)) ) {
                    jQuery(this).show();
                }
            });
        }
    });

    jQuery(document).ready(function() {
        $('#filter-by-artist').submit(function(event) {
            event.preventDefault();
            console.log('search');
            let selectedVendor = $('#search_vendor_select').val();

            let searchUrl = `/search?type=product&q=`;

            if(selectedVendor) {
                searchUrl += ` vendor:${selectedVendor}`;
            }

            let tags = [];

            if(tags.length > 0) {
                searchUrl += ` tag:${tags.join(',')}`;
            }

            window.location.href = searchUrl;
        });
    });
</script>
</div>
