
{% assign press_image = collection.metafields.press.image %}
{% assign press_credit = collection.metafields.press.credits %}
{% assign press_source = collection.metafields.press.source %}
{% assign press_title = collection.metafields.press.title %}
{% assign press_date = collection.metafields.press.date %}
{% assign press_end_date = collection.metafields.exhibitions.end_date %}
{% assign press_link = collection.metafields.press.link %}

{% assign press_loop = "" %}

{%- capture loop_indexes -%}
    {%- for location in press_title -%}
        {{- forloop.index0 -}}
        {%- if forloop.last == false %}::{% endif -%}
    {%- endfor -%}
{%- endcapture -%}
{%- assign loop_index = loop_indexes | strip -%}
{%- assign loop_in = loop_index | split: '::'  -%}

<div class="slider-items__wrapper">
    <div class="slider-items">

        {%- for loop in loop_in -%}

            {%- assign loop_strip = loop | strip  -%}

            {% comment %} Opening Card Item {% endcomment %}
            <div class="card-item media-item">

                {% comment %} Opening Card Link {% endcomment %}
                {%- for item in press_link -%}
                    {%- assign loop_sub =  forloop.index0 | strip  -%}
                    {%- if loop_sub == loop_strip -%}
                        {%- if items != "" -%}
                        <a href="{{item}}">
                        {%- endif -%}
                    {%- else -%}{% continue %}{%- endif -%}
                {%- endfor -%}

                {% comment %} Card Image {% endcomment %}
                <div class="card-header">
                    {% for images in press_image %}
                        {%- assign loop_sub =  forloop.index0 | strip  -%}
                        {%- if loop_sub == loop_strip -%}
                            {% for image in images %}
                            <img class="lazyload" data-src="{{ image.cloudinary_src | append: 'c_fill_pad,g_auto,w_400,h_240' }}" alt="{{ image.alt }}"/>
                            {% endfor %}

                        {%- else -%}{% continue %}{%- endif -%}
                    {% endfor %}
                </div>

                {% comment %}Card Content Begining {% endcomment %}
                <div class="card-meta">
                    <span class="meta__location">
                        {% comment %}Event Gallery Location{% endcomment %}
                        {%- for item in press_credit -%}
                            {%- assign loop_sub =  forloop.index0 | strip  -%}
                            {%- if loop_sub == loop_strip -%}
                                {{item}}
                            {%- else -%}{% continue %}{%- endif -%}
                        {%- endfor -%}

                    </span>

                    {% comment %}Press Title{% endcomment %}
                    {%- for item in press_title -%}
                        {%- assign loop_sub =  forloop.index0 | strip  -%}
                        {%- if loop_sub == loop_strip -%}
                            <h4>{{item}}</h4>
                        {%- else -%}{% continue %}{%- endif -%}
                    {%- endfor -%}

                    <span class="meta__date">
                        {% comment %}Event Location City{% endcomment %}
                        {%- for item in press_source -%}
                        {%- assign loop_sub =  forloop.index0 | strip  -%}
                        {%- if loop_sub == loop_strip -%}
                            {{item}}
                        {%- else -%}{% continue %}{%- endif -%}
                        {%- endfor -%}

                        {%- for item in press_date -%}
                            {%- assign loop_sub =  forloop.index0 | strip  -%}
                            {%- if loop_sub == loop_strip -%}
                                {% if press_source %} - {% endif %}{{item | date: "%B, %Y" }}
                            {%- else -%}{% continue %}{%- endif -%}
                        {%- endfor -%}
                    </span>

                {% comment %}Closing Card Content{% endcomment %}
                </div>

            {% comment %}Closing Card Link {% endcomment %}
            {%- for item in press_link -%}
                {%- assign loop_sub =  forloop.index0 | strip  -%}
                {%- if loop_sub == loop_strip -%}
                    {%- if items != "" -%}
                    </a>
                    {%- endif -%}
                {%- else -%}{% continue %}{%- endif -%}

            {%- endfor -%}
            {% comment %} Closing Card Item {% endcomment %}
            </div>
        {%- endfor -%}

    </div>
</div>
