{%- assign price_filter = settings.price_filters | split: ',' -%}

{% for type in shop.types %}
    {% assign type_name = type | downcase | replace: " ", "+" %}
    {% if collection.url contains type_name %}
        {% assign collection_type_page = true %}
    {% endif %}
{% endfor %}

{% for price_filters in price_filter %}
    {% assign price_name = price_filters | handleize %}
        {% if collection.url contains price_name and price_name != 'all'  %}
            {% assign collection_price_page = true %}
        {% endif %}
{% endfor %}

<div class="col-lg-3 static-menu static-menu-top collection__filters">
    <h1 class="h1__menu">{{title}}</h1>

    <div id="collection_filters" class="collection-filters__wrapper">
        <div class="collection-filters filter-by__wrapper filter-by-type__wrapper">
            <div class="filter-by__title filter-by__title--medium">
                <h4>Medium</h4>
            </div>
            <div class="filter-by filter-by__filters filter-by-type">
                {% if collection_type_page == true %}
                    <a medium="" class="filter" href="/collections/all">
                        <div class="filter__all">
                            {% include "icon-all-items" %}
                            <div>See all categories</div>
                        </div>
                    </a>
                {% else %}
                    <div medium="" class="t-filter filter{% if collection.url contains 'all' %} active{% endif %}">
                        <div class="filter__icon"></div>
                        <div class="filter__label">
                            All
                        </div>
                    </div>

                    {%- for type in shop.types -%}
                        {% assign type_string = type | replace: " ", "+" %}
                        <div medium="{{- type | handleize -}}" class="t-filter filter{% if collection.url contains type_string %} active{% endif %}">
                            <div class="filter__icon"></div>
                            <div class="filter__label">
                                {{- type -}}
                            </div>
                        </div>
                    {%- endfor -%}
                {% endif %}
            </div>

        </div>

        <div class="collection-filters filter-by__wrapper filter-by-price__wrapper">
            <div class="filter-by__title filter-by__title--price">
                <h4>Price Range</h4>
            </div>
            <div class="filter-by filter-by__filters filter-by-type">
                {%- if collection_price_page == true -%}
                    <a price="" class="filter" href="/collections/all">
                        <div class="filter__all">
                            {% include "icon-all-items" %}
                            <div>See all prices</div>
                        </div>
                    </a>
                {% else %}
                    {%- for price_filters in price_filter -%}
                        <div price="{{ price_filters }}" class="p-filter filter {% if price_filters == 'All' %} active{% endif %}">
                            <div class="filter__icon"></div>
                            <div class="filter__label">{{- price_filters -}}{%- if price_filters != "All" %} USD{%- endif -%}</div>
                        </div>
                    {%- endfor -%}
                {%- endif -%}
            </div>
        </div>

        <div class="collection-filters filter-by__wrapper filter-by-ungoal__wrapper">
            <div class="filter-by filter-by-ungoal filter-by__select filter">
                <h4>UN-Goals</h4>
                <select id="filter-by-ungoal" class="" name="">
                    {%- capture un_collections -%}
                    {%- for collection in collections | sort -%}
                        {%- assign template_type = collection.template_suffix | strip -%}
                        {%- assign ungoals = "" -%}
                        {%- if template_type == 'ungoals' -%}
                            |{{- collection.title | replace: ".", "::" -}}::{%- assign img = collection.metafields.accentuate.desktop_alt_logo | first -%}{{- img.cloudinary_src | append: 'w_195' -}}::{{- collection.url -}}
                        {%- else -%}{%- continue -%}{%- endif -%}
                    {%- endfor -%}
                    {%- endcapture -%}
                    <option class="un-filter filter" value="">All</option>
                    {%- assign sortedposts = un_collections | split: '|' | sort -%}
                    {%- for post in sortedposts -%}
                        {%- assign postitems = post | split: '::' -%}
                        {%- assign un_id = postitems[0] | strip | plus: 0 -%}
                        {%- if un_id < 10 and un_id > 0 -%}
                            <option class="un-filter filter" value="{{ postitems[1] | handleize }}">{{postitems[1]}}</option>
                        {%- else -%} {%- continue -%} {%- endif -%}
                    {%- endfor -%}
                    {% assign sortedposts = un_collections | split: '|' | sort %}
                    {% for post in sortedposts %}
                        {% assign postitems = post | split: '::' %}
                        {% assign un_id = postitems[0] | strip | plus: 0 %}
                        {%- if un_id > 9 -%}
                            <option class="un-filter filter" value="{{ postitems[1] | handleize }}">{{postitems[1]}}</option>
                        {%- else -%} {%- continue -%}{%- endif -%}
                    {%- endfor -%}
                </select>
            </div>

        </div>

        {% comment %}
        <div class="collection-filters filter-by__wrapper filter-by-gallery__wrapper">
            <div class="filter-by filter-by-ngos">
              <h4>Charities</h4>
              <div class="filter-by filter-by-ngo filter">
                  <select id="filter-by-ngo" class="" name="">
                      <option class="c-filter filter" value="">All</option>
                      {% for collection in collections %}
                      {% if collection.template_suffix == 'ngo' and collection.all_products_count > 0 %}
                      <option class="c-filter filter" value="{{ collection.title | handleize | replace: '-', ' ' }}">{{ collection.title }}</option>
                      {% endif %}
                      {% endfor %}
                  </select>
              </div>

              </div>
        </div>
        {% endcomment %}

        <div class="collection-filters filter-by__wrapper filter-by-artist__wrapper">
            <div class="filter-by filter-by-artist filter-by__select filter">
              <h4>Artists</h4>
              <form id="filter-by-artist" class="">

                  <input type="text" id="filter-by-artist-field" class="awesomplete" placeholder="Select an artist..." data-list="{{ shop.vendors | join: ", " }}">
                  <button type="button" id="filter-by-artist-btn" disabled>{% include "icon-search" %}</button>
              </form>
          </div>
        </div>

        <div class="collection-filters filter-by__wrapper filter-by-gallery__wrapper">
            <div class="filter-by filter-by-gallery filter-by__select filter">
                <h4>Galleries</h4>
                <select id="filter-by-gallery" class="" name="">
                    <option class="g-filter filter" value="">All</option>
                    {%- for collection in collections -%}
                    {%- if collection.template_suffix == 'gallery' and collection.all_products_count > 0 -%}
                    <option class="c-filter filter" value="{{ collection.title | handleize }}">{{- collection.title -}}</option>
                    {%- else -%}
                        {% continue %}
                    {%- endif -%}
                    {%- endfor -%}
                </select>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(window).scroll(function() {
        $(".static-menu").addClass("static-menu-top");
        $(".static-menu").removeClass("static-menu-bottom");
        if($(window).scrollTop() + $(window).height() > ($(document).height() - 515) ) {
            //you are at bottom
            $(".static-menu").addClass("static-menu-bottom");
            $(".static-menu").removeClass("static-menu-top");
        }
    });
</script>
