{%- assign city = collection.metafields.accentuate.international_locations -%}
{%- assign region_list = collection.metafields.gallery.region -%}
{%- assign country_list = collection.metafields.gallery.country -%}
{%- assign title = collection.title -%}
{%- assign image = collection.image -%}

{% assign city = city | split: ", " %}
{% assign city = city | uniq %}
{% assign city = city | join: "," | downcase | replace: " ", "-" %}

{%- capture region -%}
    {%- for single_region in region_list -%}
        {{- single_region -}}
        {%- if forloop.last == false %},{% endif -%}
    {%- endfor -%}
{%- endcapture -%}

{% assign region = region | split: "," %}
{% assign region = region | uniq %}
{% assign region = region | join: "," | downcase | replace: " ", "-" %}

{%- capture country -%}
    {%- for single_country in country_list -%}
        {{- single_country -}}
        {%- if forloop.last == false %},{% endif -%}
    {%- endfor -%}
{%- endcapture -%}

{% assign country = country | split: "," %}
{% assign country = country | uniq %}
{% assign country = country | join: "," | downcase | replace: " ", "-" %}

<article class="card-item gallery-item"
    {%- if filter == true -%}
        country="{{- country  -}}"
        region="{{- region -}}"
        city="{{- city -}}"
        name="{{- title | handleize -}}"
        {%- endif -%}
    >
    <a href="{{collection.url}}">
        <div class="img-container">
            <div class="img-inner-container">
                <img
                    alt="{{ title }}"
                    srcset="{{- image.src | img_url: '181x114', crop: 'center' }} 181w,
                        {{- image.src | img_url: '360x225', crop: 'center' }} 360w,
                        {{- image.src | img_url: '385x240', crop: 'center' }} 440w"
                        sizes="(max-width: 767px) 181px, (max-width: 991px) 360px, 440px"
                    src="{{ image.src | img_url: '440x313' }}"
                    class="lazyload" />
            </div>
        </div>
        <div class="card-details gallery-details">
            <h4 class="card__title">{{ title }}</h4>
            <div class="card__origin">{{collection.metafields.accentuate.international_locations}}</div>

        </div>
    </a>
</article>
