<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KLJVXR5');</script>
  <!-- End Google Tag Manager -->
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="{{ 'flipclock.css' | asset_url }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>Art for humans - Innovative Art Fundraising Platform</title>
  <meta name="description" content="Art for Humans (A4H) is an online art platform designed to help charities raise funds in an innovative way and help artists sell their art for a good cause. Find talented artists and buy their art to help communities of your choice. ">

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
 
  
</head>

<body class="template-password">
  
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLJVXR5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <main class="container-fluid" role="main" id="MainContent">
  
  {{content_for_layout}}
    
  </main>
  
  <footer class="second-footer row">
    <div class="terms col-md-4 text-left">
       <img class="logo-mini" src="{{ 'pw-logo-mini.png' | asset_url  }}" alt="Art For Humans">
    </div>
    <div class="terms col-md-4 text-center">
      <span>Privacy 2017 ArtForHumans</span>
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
        <input type="password"
               name="password"
               id="Password"
               placeholder="Enter with password...">
        <button type="submit" name="commit">Enter</button>
      {% endform %}
    </div>
    <div class="social-icons col-md-4 text-right">
      <a target="_blank" href="https://www.instagram.com/artforhumansorg"><div>{% include 'icon-instagram' %}</div></a>
      <a target="_blank" href="https://twitter.com/ArtForHumansorg"><div>{% include 'icon-twitter' %}</div></a>
      <a target="_blank" href="https://facebook.com/artforhumansorg"><div>{% include 'icon-facebook' %}</div></a>
    </div>
  </footer>
  
</body>

</html>
