<footer>
    <section class="footer__primary">
        <div class="row">
            <div class="col-lg-3">
                <h4>{{ settings.column-1-title }}</h4>

                <div class="footer__menu">
                    {% for link in linklists[settings.column-1-menu].links %}
                        <a class="footer__link" href="{{ link.url }}">{{ link.title }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-3">
                <h4>{{ settings.column-2-title }}</h4>
                <div class="footer__menu">
                    {% for link in linklists[settings.column-2-menu].links %}
                        <a class="footer__link" href="{{ link.url }}">{{ link.title }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-3">
                <h4>{{ settings.column-3-title }}</h4>

                <div class="footer__menu">
                    {% for link in linklists[settings.column-3-menu].links %}
                        <a class="footer__link" href="{{ link.url }}">{{ link.title }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-3">
                <h4>{{ settings.column-3-title }}</h4>
                <div class="footer__newsletter">

                    <form class="newsletter-form"
                        action="//hvduc.us11.list-manage.com/subscribe/post?u=355ea7b2b4b03bc8640b8efdd&id=86fecc3357"
                        method="post"
                        id="mc-embedded-subscribe-form"
                        name="mc-embedded-subscribe-form"
                        target="_blank"
                        _lpchecked="1">
                        <input type="email"
                        value
                        placeholder="{{ settings.newsletter-placeholder }}"
                        name="EMAIL"
                        class="newsletter-input-form-control"
                        id="mail"
                        aria-label="Your email...">
                        <button id="subscribe" type="submit"></button>
                    </form>
                </div>
                <div class="footer__menu">
                    {% for link in linklists[settings.column-4-menu].links %}
                        <a class="footer__link" href="{{ link.url }}">{{ link.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="footer__secondary">
        <div class="row">
            <div class="col-lg-3 footer__copyright">
                <img src="{{ settings.footer_icon | img_url: '32x' }}" alt="{{shop.name}}" width="32px" height="32px">
                <span>© {{shop.name}} {{ 'now' | date: "%Y" }}</span>
            </div>
            <div class="col-lg-6 footer__menu footer-secondary__menu">
                {% for link in linklists[settings.secondary-footer-menu].links %}
                        {% if forloop.first == true %}
                            <a class="footer__link footer-secondary__link" href="{{ link.url }}">{{ link.title }}</a>
                        {% else %}
                            <span>  •  </span>
                            <a class="footer__link footer-secondary__link" href="{{ link.url }}">{{ link.title }}</a>
                        {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-3 footer__social social__icons">
                <div class="social__icon"><a class="social__link" target="_blank" href="{{ settings.ci_facebook }}">{% include 'icon-social-facebook' %}</a></div>
                <div class="social__icon"><a class="social__link" target="_blank" href="{{ settings.ci_instagram }}">{% include 'icon-social-instagram' %}</a></div>
                <div class="social__icon"><a class="social__link" target="_blank" href="{{ settings.ci_twitter }}">{% include 'icon-social-twitter' %}</a></div>
                <div class="social__icon"><a class="social__link" target="_blank" href="{{ settings.ci_linkedin }}">{% include 'icon-social-linkedin' %}</a></div>
                <div class="social__icon"><a class="social__link" target="_blank" href="{{ settings.ci_weibo }}">{% include 'icon-social-weibo' %}</a></div>
            </div>
        </div>
    </section>
</footer>
