<nav class="header">
    <div class="row">

        <div class="nav__left-container">
            <a class="logo" href="/">
            <img src="{{ settings.header_logo | img_url: 'master' }}" width="{{ settings.header_logo_max_width }}" alt="{{ shop.name }}"></a>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn">
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            {% for link in linklists[section.settings.main_linklist].links %}
            {%- assign child_list_handle = link.title | handleize -%}
            {% if menus[child_list_handle].links != blank %}
            <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
                <a href="{{ link.url }}" class="site-nav__link">
                    {{ link.title }}
                    {% include 'icon-arrow-down' %}
                </a>
                <ul class="site-nav__submenu">
                    {% for childlink in menus[child_list_handle].links %}
                    <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                        <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% else %}
            <li {% if link.active %}class="site-nav--active"{% endif %}>
                <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>


{% schema %}
{
    "name": "Header",
    "settings": [
    {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
    }
    ]
}
{% endschema %}
