
{%- include 'global-assets' -%}

<section class="gallery__hero collection__hero">
    <div id="overview" class="anchor"></div>
    <div class="row">
        {% include 'partial-collection-menu', bg_color: '', type: 'ngo' %}

        <div class="col-lg-9 ml-auto gallery__about">

            <div class="row">
                <div class="col-lg-6">
                    <h2>About</h2>
                    {{ collection.description }}
                </div>
                <div class="col-lg-6">
                    <img src="{{ collection.image | img_url: '580x' }}" alt="{{ collection.title }}">
                    <p>{{collection.metafields.accentuate.international_locations}}</p>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="collection gallery__collection">
    <div id="curated-artworks" class="anchor"></div>
    <div class="row">
        <div class="col-lg-9 ml-auto">
            <h2>Curated  Artworks</h2>
            <div class="collection-items__wrapper">
                <div class="col-12 collection-items">
                    {% for product in collection.products %}
                        {% include 'partial-product-card' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% assign artist_collection = "" %}
{% assign artist_collection_url = "" %}

<section class="gallery__artists artists-list__wrapper">
    <div id="represented-artists" class="anchor"></div>
    <div class="row">
        <div class="col-lg-9 ml-auto">
            <h2>Represented Artists</h2>
            <div class="artists-list">
                {% assign represented-artist = "Raymond Pettibon,Tomma Abts,Isa Genzken,Njideka Akunyili Crosby,Anni Albers,Josef Albers,Francis Alÿs,Harold Ancart,Mamma Andersson,Diane Arbus,Lucas Arruda,Ruth Asawa,Michaël Borremans,Carol Bove,R. Crumb,Noah Davis,Raoul De Keyser,Roy DeCarava,Philip-Lorca diCorcia,Stan Douglas,Marlene Dumas,Marcel Dzama,William Eggleston,Dan Flavin,Suzan Frecon,Isa Genzken,Felix Gonzalez-Torres,Donald Judd,On Kawara,Toba Khedoori" | split:"," %}

                {%- for artist in represented-artist -%}
                    {%- assign artist_handle = artist |  handleize -%}
                    <div class="artists-list__item">
                        {%- for collection in collections -%}
                            {%- assign template_type = collection.template_suffix | strip -%}
                            {%- if template_type == 'artist' and collection.handle == artist_handle -%}
                                {% assign artist_collection_url = collection.url %}
                                <a href="{{artist_collection_url}}">
                                {%- else -%}{%- continue -%}
                            {%- endif -%}
                        {%- endfor -%}

                        {{- artist -}}

                    {%- for collection in collections -%}
                        {%- assign template_type = collection.template_suffix | strip -%}
                        {%- if template_type == 'artist' and collection.handle == artist_handle -%}</a>{%- else -%}{%- continue -%}{%- endif -%}
                    {%- endfor -%}
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </div>
</section>

<section class="collection gallery__exhibitions">
    <div id="selected-exhibitions" class="anchor"></div>
        <div class="row">
            <div class="col-lg-9 ml-auto">
                <h2>Selected Exhibitions</h2>
                {% include 'partial-press-slider' %}
            </div>
        </div>
    </div>
</section>

<section class="collection gallery__press">
    <div id="selected-press" class="anchor"></div>
    <div class="row">
        <div class="col-lg-9 ml-auto">
            <h2>Selected Press</h2>

        </div>
    </div>
</section>

<section class="collection gallery__contact">
    <div id="contact" class="anchor"></div>
    <div class="row">
        <div class="col-lg-9 ml-auto">
            <h2>Contact Information</h2>
        </div>
    </div>
</section>
