
{%- include 'global-assets' -%}

{%- assign ungoals = "" -%}
{%- assign artist_name = collection.title -%}
{%- assign gallery = "" -%}

{% assign has_un_goals = false %}
{% assign artist_ungoal = collection.metafields.artist.un_goals %}
{% assign artist_ungoals = artist_ungoal | split: '|' %}

{%- for ungoals in artist_ungoals -%}
{% assign ungoal = collections[ungoals] %}
{% assign ungoals_name = ungoal.title | split: '. ' %}
{%- if ungoals_name[1] != "" -%}
    {% assign has_un_goals = true %}
{%- endif -%}
{%- endfor -%}

{%- capture un_collections -%}
{%- for collection in collections -%}

    {%- assign template_type = collection.template_suffix | strip -%}

    {%- if template_type == 'ungoals' -%}
        |{{ collection.title | replace: ".", "::" }}::{% assign img = collection.metafields.accentuate.desktop_alt_logo | first %}{{- img.cloudinary_src | append: 'w_145' -}}::{{ collection.url }}
    {%- else -%}
        {%- continue -%}
    {%- endif -%}

{%- endfor -%}
{%- endcapture -%}

{%- capture artist__galleries -%}
{%- for collection in collections -%}

    {%- assign template_type = collection.template_suffix | strip -%}

    {%- if template_type == 'gallery' -%}
        {%- assign represented_artist = collection.metafields.accentuate.represented_artists | split:"," -%}
        {%- for artist in represented_artist -%}
            {%- if artist_name == artist -%}
                {{ collection.title }}::{{ collection.url }}|
            {%- endif -%}
        {%- endfor -%}
    {%- else -%}
        {%- continue -%}
    {%- endif -%}

{%- endfor -%}
{%- endcapture -%}

{%- assign sortedposts = un_collections | split: '|' | sort -%}
<div class="content__wrapper artist__wrapper collection__artist">
    <div class="row">
        <div class="col-lg-3">
            {%- include 'partial-collection-menu', bg_color: '', type: 'artist' -%}
        </div>
        <div class="col-lg-9">

            <section class="no-padding">
                <div id="career-highlights" class="anchor"></div>

                    <section class="artist__hero collection__hero">
                    <div class="row">

                        <div class="col-12 artist__about">

                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="{{ collection.image | img_url: '580x' }}" alt="{{ collection.title }}">
                                </div>
                                <div class="col-lg-6 hidden-xs">

                                    <p><strong>Born:</strong> {{collection.metafields.artist.born}}</p>
                                    <p><strong>Studio:</strong> {{collection.metafields.artist.studio}}</p>

                                    <div class="tags ">

                                        <div class="tags__wrapper">
                                            <div class="tags-catgerogy">
                                                <div class="tags-catgerogy__title">
                                                    {%- include 'icon-art-tags' -%}<span> Art</span>
                                                </div>
                                                <div class="tags-catgerogy__list">
                                                    {%- for tag in collection.all_tags | sort -%}
                                                    {%- if impact-tags contains tag -%}
                                                    {% continue %}
                                                    {%- else -%}
                                                    <a class="tag-item" href="/search?q={{tag | replace: " " , "+"  }}">{{ tag }}</a>
                                                    {%- endif -%}
                                                    {%- endfor -%}
                                                </div>
                                            </div>

                                            {%- if has_un_goals == true -%}
                                                <div class="tags-catgerogy">
                                                    <div class="tags-catgerogy__title">
                                                        {%- include 'icon-impact-tags' -%}<span> Impact</span>
                                                    </div>
                                                    <div class="tags-catgerogy__list">

                                                        {%- for ungoals in artist_ungoals -%}
                                                        {% assign ungoal = collections[ungoals] %}
                                                        {% assign ungoals_name = ungoal.title | split: '. ' %}
                                                        <a class="tag-item" href="{{ ungoal.url }}">#{{- ungoals_name[0] }} {{ ungoals_name[1] -}}</a>
                                                        {%- endfor -%}

                                                    </div>
                                                </div>
                                            {%- endif -%}

                                        </div>
                                    </div>

                                    <div class="social__icons">
                                        {%- if collection.metafields.artist.website -%}
                                        <div class="social__icon"><a class="social__link" target="_blank" href="{{ collection.metafields.artist.website }}">{% include 'icon-social-website' %}</a></div>
                                        {%- endif -%}
                                        {%- if collection.metafields.artist.facebook -%}
                                        <div class="social__icon"><a class="social__link" target="_blank" href="{{ collection.metafields.artist.facebook }}">{% include 'icon-social-facebook' %}</a></div>
                                        {%- endif -%}
                                        {% if collection.metafields.artist.instagram -%}
                                        <div class="social__icon"><a class="social__link" target="_blank" href="{{ collection.metafields.artist.instagram }}">{% include 'icon-social-instagram' %}</a></div>
                                        {%- endif -%}
                                        {%- if collection.metafields.artist.twitter -%}
                                        <div class="social__icon"><a class="social__link" target="_blank" href="{{ collection.metafields.artist.twitter }}">{% include 'icon-social-twitter' %}</a></div>
                                        {%- endif -%}
                                        {%- if collection.metafields.artist.weibo -%}
                                        <div class="social__icon"><a class="social__link" target="_blank" href="{{ collection.metafields.artist.weibo }}">{% include 'icon-social-weibo' %}</a></div>
                                        {%- endif -%}
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                {% include 'partial-artist-highlights' %}
            </section>

            <section class="collection artist__collection">
                <div id="curated-artworks" class="anchor"></div>
                <div class="row">
                    <div class="col-12">
                        <div class="title-has-options">
                            <h2>Curated Artworks</h2>
                            {% include 'partial-collection-options' %}
                        </div>


                        <div class="collection-items__wrapper">
                            <div class="col-12 collection-items">
                                {%- for product in collection.products -%}
                                {%- include 'partial-product-card' with card_per_row: 2 -%}
                                {%- endfor -%}
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="collection__un-goals artist__un-commitment">
                <div id="un-commitment" class="anchor"></div>
                <div class="row">
                    <div class="col-12 col-tb">
                        
                        <div class="title-has-cta">
                            <h2>Artist's support to the UN-Goals</h2>
                            {%- include 'partial-cta' with { cta_label: "Learn<span> about UN-Goals</span>", cta_url: "/un-goals/" }  -%}
                        </div>

                        <blockquote>
                            <p>“This situation right now in the United States with Trump makes you want to just burn it all down and start over…. I don’t censor myself. If you’re sending out a political message, it has only one interpretation. But  when I do an automatic drawing, it’s open to many interpretations.”</p>
                            <p class="author">- {{ collection.title }}</p>
                        </blockquote>

                        <p><strong>{{ collection.title }}</strong> a in coordination with his galleries
                            {% assign size = artist__galleries | size | minus: 1 -%}
                            {%- assign artist__galleries = artist__galleries | slice: 0, size -%}
                            {%- assign artist__galleries = artist__galleries | split: '|' -%}
                            {%- for post in artist__galleries -%}
                                {%- assign postitems = post | split: '::' -%}
                                {%- assign un_id = postitems[0] | strip | plus: 0 -%}
                                {%- assign forloop_length = forloop.length | minus: 1 -%}
                                    <a class="" href="{{- postitems[1] -}}">{{postitems[0]}}</a>
                                    {%- if forloop.index == forloop_length and forloop.last == false %} & {% else -%}, {% endif -%}
                            {%- endfor -%}has decided to support the 2030 UN Sustainable Development Goals:</p>

                        <div class="impact-logos">
                            {%- if has_un_goals == true -%}
                                {%- for ungoals in artist_ungoals -%}
                                {% assign ungoal = collections[ungoals] %}
                                {% assign ungoals_name = ungoal.title | split: '. ' %}
                                {% assign ungoals_url = ungoal.url | split: '. ' %}
                                {% assign img = ungoal.metafields.accentuate.desktop_alt_logo | first %}
                                    <a href="{{- ungoals_url -}}">
                                        <img class="lazyload" data-src="{{- img.cloudinary_src | append: 'w_145' -}}" alt="{{ungoals_name[1]}}" title="{{collection.title}} supports {{ungoals_name[1]}}">
                                    </a>
                                {%- endfor -%}
                            {%- else -%}

                                {%- for post in sortedposts -%}
                                {%- assign postitems = post | split: '::' -%}
                                {%- assign un_id = postitems[0] | strip | plus: 0 -%}
                                {%- if un_id < 10 and un_id > 0 -%}
                                <a href="{{- postitems[3] -}}">
                                    <img class="lazyload" data-src="{{- postitems[2] -}}" alt="{{postitems[1]}}" title="{{collection.title}} supports {{postitems[1]}}">
                                </a>
                                {%- else -%} {%- continue -%} {%- endif -%}

                                {%- endfor -%}
                                {% for post in sortedposts %}
                                {% assign postitems = post | split: '::' %}
                                {% assign un_id = postitems[0] | strip | plus: 0 %}
                                {%- if un_id > 9 -%}
                                <a href="{{- postitems[3] -}}">
                                    <img class="lazyload" data-src="{{postitems[2]}}" alt="{{postitems[1]}}" title="{{collection.title}} supports {{postitems[1]}}">
                                </a>
                                {%- else -%} {%- continue -%} {% endif %}

                                {% endfor %}

                                <a href="/pages/un-goals">
                                    <img class="all-impact-logo lazyload" data-src="{{ 'all-un-goals.png' | asset_url }}" alt="UN Goals">
                                </a>
                            {%- endif -%}
                        </div>

                    </div>
                </div>
            </section>

            <section class="gallery__artists artists-list__wrapper">
                <div id="biography" class="anchor"></div>
                <div class="row">
                    <div class="col-12 col-tb">
                        <h2>Biography</h2>
                        <div class="see-more__wrapper">
                            {% assign text = collection.description %}
                            {% assign text_short = text | strip_html %}

                            {%- if text != "" -%}
                                <div class="see-more__content see-more__short active">
                                    {{ text_short | truncatewords: 57 }}
                                </div>
                                <div class="see-more__content see-more__full">
                                    {{ text }}
                                </div>
                                {%- include 'partial-cta-see-more' -%}
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </section>

            <section class="collection__exhibitions artist__exhibitions">
                <div id="major-exhibitions" class="anchor"></div>
                <div class="row">
                    <div class="col-12 col-tb">
                        <h2>Major Exhibitions</h2>
                        {% include 'partial-exhibitions-lists' %}
                    </div>
                </div>
            </section>

            <section class="collection__press artist__press">
                <div id="major-press" class="anchor"></div>
                <div class="row">
                    <div class="col-12 col-tb">
                        <h2>Major Press</h2>
                        {% include 'partial-press-slider' %}
                    </div>
                </div>
            </section>

            {% comment %}
            <section class="">
                <div id="market-data" class="anchor"></div>
                <div class="row">
                    <div class="col-12 col-tb">
                        <h2>Market Data</h2>
                        <div class="visibility-insights__graph">

                            {%- include 'partial-dummy-graph'  -%}
                        </div>
                    </div>
                </div>
            </section>
            {% endcomment %}

            <section class="collection collection-of-3 related-artists">
                <div id="related-artists" class="anchor"></div>
                <div class="row">
                    <div class="col-12 col-tb">
                        <div class="title-has-cta">
                            <h2>Related Artists</h2>
                            {%- include 'partial-cta' with { cta_label: "<span>View </span>All", cta_url: "/pages/artists" } -%}
                        </div>
                        <div class="collection-items featured-items">

                            {%- assign related_artists = collection.metafields.accentuate.related_artist | split: '|' -%}
                            {%- for related_artist in related_artists -%}

                            {%- include 'partial-artist-card' with { collection: collections[related_artist], card_per_row: 3 } -%}

                            {%- endfor -%}
                        </div>
                    </div>
                </div>
            </section>

            <section class="tags collection__tags">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tags__wrapper">

                            <div class="tags-catgerogy">
                                <div class="tags-catgerogy__title">
                                    {%- include 'icon-art-tags' -%}<span class="only-xs"> Art</span>
                                </div>
                                <div class="tags-catgerogy__list">
                                    {%- for tag in collection.all_tags | sort -%}
                                    {%- if impact-tags contains tag -%}
                                    {% continue %}
                                    {%- else -%}
                                        <a class="tag-item" href="/search?q={{tag | replace: " " , "+"  }}">{{ tag }}</a>
                                    {%- endif -%}
                                    {%- endfor -%}
                                </div>
                            </div>

                            {%- if has_un_goals == true -%}
                            <div class="tags-catgerogy only-xs">
                                <div class="tags-catgerogy__title">
                                    {%- include 'icon-impact-tags' -%}<span> Impact</span>
                                </div>
                                <div class="tags-catgerogy__list">
                                    {% assign artist_ungoal = collection.metafields.artist.un_goals %}

                                    {%- for ungoals in artist_ungoals -%}
                                    {% assign ungoal = collections[ungoals] %}
                                    {% assign ungoals_name = ungoal.title | split: '. ' %}
                                        <a class="tag-item" href="{{ ungoal.url }}">#{{- ungoals_name[0] }} {{ ungoals_name[1] -}}</a>
                                    {%- endfor -%}

                                </div>
                            </div>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
